<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <style>
    table, th , td  {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
    </style>

    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

        <div ng-app="hep" ng-controller="hepCtrl">
            <h1>比賽學校:</h1>
            <div ng-repeat="school in schools">
                <input type="text" ng-model="school.name1"></input>
                v.s
                <input type="text" ng-model="school.name2"></input>
                <br>
                <br>
            </div>
            <button ng-click="addSchool()">新增學校</button>
            <br>
            <br>

            <h1>裁判資料:</h1>
            <p ng-repeat="judge in judges">裁判{{$index+1}}: <input type="text" ng-model="judge.name"></input> 畢業於: <input type="text" ng-model="judge.school"></input> 黑特裁判:<input type="text" ng-model="judge.hate"></input></p>
            <button ng-click="addJudge()">新增裁判</button>
            <br>
            <br>

        </div>
        <script>
            var app = angular.module('hep', [])
            app.controller('hepCtrl', function($scope){
                $scope.schools = [];

                $scope.addSchool = function () {
                    $scope.schools.push({
                        name1: "",
                        name1: ""
                    });
                };

                $scope.judges = [];
                $scope.addJudge = function () {
                    $scope.judges.push({
                        name: "",
                        school: "",
                        hate: ""
                    });
                };
            })
        </script>
    </body>
</html>
